<div class="widgets-container-hour" #widgets>
    <div>11:11</div>
</div>
<div class="widgets-container-img-user">
    <img src="app/assets/icons/avatar/profile-avatar.jpg" alt="img-user">
</div>
<div class="widgets-container-search widgets-container-searchbar">
    <div class="widgets-container-searchbar-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#0384c0 " stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    </div>
    <input type="text" class="widgets-container-searchbar-input" placeholder="Type here to search the web">
</div>
<div class="widgets-container-widtgets">
    <div class="widgets-container-widtgets-widget">
        <div class="widgets-container-widtgets-widget-infobar">
            <div class="widgets-container-widtgets-widget-infobar-title">
                <div class="widgets-container-widtgets-widget-infobar-title-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cloud"><path d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z"></path></svg>
                </div>
                <span>Weather</span>
            </div>
            <div class="widgets-container-widtgets-widget-infobar-actions">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
            </div>
        </div>
        <div class="widgets-container-widtgets-widget-content">
            <div class="widgets-container-widtgets-widget-content-location">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                <span>Margao, Goa, India</span>
            </div>
            <div class="widgets-container-widtgets-widget-content-weather">
                <div class="widgets-container-widtgets-widget-content-weather-data">
                    <div class="widgets-container-widtgets-widget-content-weather-data-icon">
                        <img src="app/assets/icons/weather.svg" alt="Weather">
                    </div>
                    <div class="widgets-container-widtgets-widget-content-weather-data-degrees">
                        <span class="widgets-container-widtgets-widget-content-weather-data-degrees-temp">33</span>
                        <div class="widgets-container-widtgets-widget-content-weather-data-degrees-temp-units">
                            <span class="widgets-container-widtgets-widget-content-weather-data-degrees-temp-units-unit unit-active">°C</span>
                            <span class="widgets-container-widtgets-widget-content-weather-data-degrees-temp-units-unit">°F</span>
                        </div>
                    </div>
                </div>
                <div class="widgets-container-widtgets-widget-content-weather-humidity">
                    <span>Haze</span>
                    <span>20%</span>
                </div>
            </div>
            <div class="widgets-container-widtgets-widget-content-link">
                <button class="widgets-container-widtgets-widget-content-link-button">See Full Forecast</button>
            </div>
        </div>
    </div>
</div>