<div class="main">
    <desktop class="desktop"></desktop>
    <notificationbar class="notificationbar md:hidden"></notificationbar>
    <taskbar class="taskbar"></taskbar>
    <window class="window" draggable style="display: none;"></window>
    <menu-start class="menu-start" style="display: none;"></menu-start>
    <systemicons class="systemicons" style="display: none;"></systemicons>
    <date-time class="date-time" style="display: none;"></date-time>
    <widgets class="widgets" style="display: none;"></widgets>
</div>

