/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* .full-container {
    width: 100%;
    height: 100%;
    background-image: url('assets/images/windows_bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.p-dialog-header {
    display: block;
    padding: 10px 15px;
    background-color: #F3F4F6;
}

.p-dialog-footer {
    padding: 10px 15px;
    background-color: #EBECF0;
    border-top: 1px solid #C4C6CC;
}

.p-dialog-content {
    background-color: #F3F4F6;
}