/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

* {
    --nav-height: 3rem;
    --img-nav-height: calc(var(--nav-height) - 1.5rem);
    --glass-white-color: rgba(37, 37, 37, 0.1);
}

body {
    display: grid;
    grid-template-columns: minmax(700px, 1fr) 1fr;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(./assets/images/windows_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition-duration: 0.5s;
}

#taskbar div:nth-child(2) svg {
    color: #eff7ff;
}

#taskbar div:hover {
    cursor: pointer;
    background-color: var(--glass-white-color);
    border-radius: 0.5rem;
    transition-duration: 0.1s;
    border-top: 1px solid rgba(255, 255, 255, 0.075);
}

#systemtray #systemicons div:hover {
    cursor: pointer;
    background-color: var(--glass-white-color);
    border-radius: 0.5rem;
    transition-duration: 0.1s;
    /* border-top: 1px solid rgba(255, 255, 255, 0.075); */
}

#systemtray #systemclock:hover {
    cursor: pointer;
    background-color: var(--glass-white-color);
    border-radius: 0.5rem;
    transition-duration: 0.1s;
    /* border-top: 1px solid rgba(255, 255, 255, 0.075); */
}

#systemtray #actioncenter:hover {
    cursor: pointer;
    background-color: var(--glass-white-color);
    border-radius: 0.5rem;
    transition-duration: 0.1s;
    /* border-top: 1px solid rgba(255, 255, 255, 0.075); */
}

#systemtray div svg {
    color: black;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    transform: scale(0.7);
    height: var(--img-nav-height);
    width: auto;
    border-radius: 0.1em;
}

#notification-section {
    display: grid;
    place-content: center;
    height: 30vh;
    width: 30vh;
    backdrop-filter: blur(3em);
    position: fixed;
    right: 1rem;
    transform: translateX(150%);
    bottom: calc(var(--nav-height) + 1rem);
    border-radius: 0.5em;
    background-color: rgba(0, 17, 255, 0.1);
    border: 2px solid var(--glass-white-color);
    font-size: 1.5em;
    color: white;
    transition-duration: 0.2s;
}

.notification-on {
    transform: translateX(0%) !important;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.4, .01, .15, 1.1);
}


.windows-tab {
    border: 2px solid rgba(255, 255, 255, 0);
    min-height: 250px;
    height: 400px;
    max-height: calc(100% - 3rem);
    backdrop-filter: blur(2em);
    min-width: 250px;
    width: 400px;
    position: absolute;
    display: none;
    border-radius: 0.5em;
    top: 1px;
    left: 1px;
    resize: both;
    overflow: auto;
    background-color: #f9f9f9;
}

.topnavbar-tab {
    height: 2em;
    width: 100%;
    background: #f3f3f3;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    color: black;
}

.top-left-menu-tab {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
}

.top-left-menu-tab div {
    height: 2em;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
}

.top-left-menu-tab svg {
    height: 1em;
    aspect-ratio: 1;
    opacity: 0.5;
    transition-duration: 0.5s;
}

.coming-soon-tab {
    display: grid;
    place-self: center;
    place-items: center;
    font-size: 1.5em;
    animation: opacity 2s ease-in-out;
    color: black;
    height: calc(100% - 2em);
    transition-duration: 0.01s;
}

#tab-image {
    aspect-ratio: 1;
    width: 40%;
}

.top-left-menu-tab div:hover {
    background-color: var(--glass-white-color);
}

.top-left-menu-tab div:nth-child(3):hover {
    background-color: rgb(255, 0, 25);
}