/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@font-face {
    font-family: "Segoe UI Variable";
    src: url("./assets/fonts/SegoeUIVariable.woff2") format("woff2"),
        url("./assets/fonts/SegoeUIVariable.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Segoe UI Variable;
}

.main {
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/images/windows_bg_dark.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: .2s background-image ease;
    position: relative;
    overflow: hidden;
}

.desktop {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: flex-start;
    max-height: calc(100vh - 50px);
}

.desktop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80px;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
    cursor: context-menu;
    border-radius: 4px;
    transition: .3s color ease;
}

.desktop-item:hover {
    background-color: #83c3ff60;
}

.desktop-item-icon {
    text-align: center;
    font-size: 12px;
    cursor: context-menu;
}

.desktop-item-icon img {
    width: 40px;
    user-select: none;
}

.desktop-item-text {
    color: white;
    text-align: center;
    font-size: 12px;
    cursor: context-menu;
}


/* Taskbar */

.taskbar {
    background: rgba(255, 255, 255, .658);
    backdrop-filter: blur(20.5px);
    -webkit-backdrop-filter: blur(20.5px);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: .2s all ease;
    min-height: 50px;
}

.taskbar-inner-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.taskbar-apps {
    display: flex;
    margin-left: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.taskbar-apps-item {
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s all ease-in;
}

.taskbar-apps-item:hover {
    background-color: #f3f3f3be;
}

.taskbar-apps-item img {
    transition: .1s all ease-in;
    height: 27px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.taskbar-systemtray {
    margin-left: auto;
    font-size: 13px;
    padding: 5px;
    transition: .2s color;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.taskbar-systemtray-groupicons {
    cursor: pointer;
    margin-right: 8px;
}

.taskbar-systemtray-systemicons {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
}

.taskbar-systemtray-systemicons:hover {
    background-color: #c5c5c57a;
}

.taskbar-systemtray-systemicons-icon {
    margin: 2px;
    cursor: pointer;
}

.taskbar-systemtray-systemclock {
    text-align: right;
    margin-right: 10px;
    font-weight: 500;
}

/* App Window */

.window {
    position: absolute;
    user-select: auto;
    width: 320px;
    height: 300px;
    display: inline-block;
    top: calc((100% - 300px) / 2);
    left: calc((100% - 320px) / 2);
    cursor: auto;
    /* transform: translate(433.5px, 43.5px); */
    max-width: 9007200000000000px;
    max-height: 9007200000000000px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.window-maximized {
    width: 100%;
    height: calc(100% - 3rem);
    left: 0;
    top: 0;
}

.window-container {
    background: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(20.5px);
    -webkit-backdrop-filter: blur(20.5px);
    width: 100%;
    height: 100%;
    transition: 0.2s background ease;
    transition: 0.2s border ease;
    border-radius: 6px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07);
    transition: 0.2s background, 0.2s color;
    color: black;
    animation: 0.3s Pop;
    animation-timing-function: cubic-bezier(0, 1, 0.5, 1.08);
    transition: 0.2s transform ease, 0.2s opacity ease;
}

.window-container.close-app {
    transform: scale(.8);
    opacity: .4;
}

@keyframes Pop {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);

    }
}

.window-container-titlebar {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 8px;
}

.window-container-titlebar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: -3px 0 0;
}

.window-container-titlebar-container-img {
    height: 18px;
    width: 18px;
}

.window-container-titlebar-container-text {
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: .5px;
    margin-left: 5px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.window-container-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.window-container-actions-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 4px;
    padding: 5px 12px;
    transition: .2s color ease, .2s transform ease;
    cursor: pointer;
    border-radius: 4px;
}

.window-container-actions-item:hover {
    background: rgba(255, 255, 255, .555);
}

.window-container-actions-item-close:hover {
    background: rgba(255, 0, 0, .562);
}


.window-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 32px);
    overflow: hidden;
}


.window-container-content-img {
    width: clamp(40px, 40%, 200px);
}

.window-container-content-h4 {
    font-size: 20px;
    font-weight: 400;
}

/* Menu Start */

.menu-start {
    position: absolute;
    max-height: 850px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%);
    backdrop-filter: blur(20.5px);
    -webkit-backdrop-filter: blur(20.5px);
    border-radius: 8px;
    transition: .2s background ease;
    animation: .4s slideUp;
    animation-timing-function: ease;
    animation-timing-function: cubic-bezier(.3, .5, 0, 1);
    background: transparent;
    display: flex;
    box-shadow: 0 2.8px 2.2px #00000005, 0 6.7px 5.3px #00000007, 0 12.5px 10px #00000009, 0 22.3px 17.9px #0000000b, 0 41.8px 33.4px #0000000d, 0 100px 80px #00000012;
    flex-direction: column;
    overflow: hidden;
}

@keyframes slideUp {
    0% {
        transform: translate(-50%, 100%)
    }

    to {
        transform: translate(-50%)
    }
}

@keyframes slideUp {
    0% {
        transform: translate(-50%)
    }

    to {
        transform: translate(-50%, 100%)
    }
}

.menu-start-container {
    background: rgba(255, 255, 255, .596);
}

.menu-start-container,
.menu-start-container-user {
    padding: 20px 20px 5px;
    width: 100%;
    transition: .2s background ease;
}

.menu-start-container-search {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 5px #0000001a;
    border-bottom: 2px rgb(68, 137, 170) solid;
    padding-left: 17px;
    padding-right: 17px;
    transition: .2s all ease;
}

.menu-start-container-search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-start-container-search-input {
    width: 100%;
    border: none;
    outline: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    padding-left: 5px;
    background-color: transparent;
}

.menu-start-container-pinned {
    padding: 0 30px;
    transition: .2s color ease;
}

.menu-start-container-pinned-header,
.menu-start-container-recommended-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-start-container-pinned-header p,
.menu-start-container-recommended-header p {
    font-size: 14px;
    font-weight: 500;
}

.menu-start-container-pinned-header button,
.menu-start-container-recommended-header button {
    outline: none;
    border: 0;
    padding: 5px 9px;
    border-radius: 4px;
    background-color: #ffffffd0;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: .2px;
    transition: .3s transform ease, .2s background-color ease, .2s color;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-start-container-pinned-apps {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: 10px;
}

.menu-start-item {
    text-decoration: none;
    color: inherit;
    display: flex;
    width: 100%;
}

.menu-start-item .menu-start-item-container {
    width: 100%;
}

.menu-start-item:hover {
    background-color: rgba(255, 255, 255, 0.596);
}

.menu-start-item-container {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s transform, .2s background-color;
    border-radius: 4px;
}

.menu-start-item-container img,
.menu-start-item-container p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.menu-start-item-container img {
    height: 60%;
}

.menu-start-container-recommended {
    padding: 0 30px;
    transition: .2s color ease;
    flex: 1;
}

.menu-start-container-user {
    padding: 15px;
    background: rgba(255, 255, 255, .527);
}

.menu-start-container-user-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    transition: .2s color ease;
}

.menu-start-container-user-container-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-start-container-user-container-info img {
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.systemicons {
    position: absolute;
    background-color: #fff;
    bottom: 60px;
    right: 10px;
    width: 10%;
    min-width: 300px;
    backdrop-filter: blur(20.5px);
    -webkit-backdrop-filter: blur(20.5px);
    border-radius: 6px;
    transition: .2s background ease;
    animation: .4s slideLeft;
    animation-timing-function: ease;
    animation-timing-function: cubic-bezier(.3, .5, 0, 1);
    background: transparent;
    display: flex;
    box-shadow: 0 2.8px 2.2px #00000005, 0 6.7px 5.3px #00000007, 0 12.5px 10px #00000009, 0 22.3px 17.9px #0000000b, 0 41.8px 33.4px #0000000d, 0 100px 80px #00000012;
    flex-direction: column;
    overflow: hidden;
}

@keyframes slideLeft {
    0% {
        transform: translateY(50%)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes slideLeft {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(100%)
    }
}

.systemicons-container {
    background: rgba(255, 255, 255, .596);
    padding: 15px 15px 5px;
    width: 100%;
    transition: .2s background ease;
}

.systemicons-container-configurations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 5px;
}

.systemicons-container-configurations-item {
    height: 100%;
    width: 100%;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.systemicons-container-configurations-item-icon {
    padding: 12px 5px;
    border-radius: 4px;
    background-color: #ffffff3b;
    transition: background-color .3s, color .3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2px;
}

.systemicons-container-configurations-item-icon:hover {
    background-color: #ffffff79;
}

.systemicons-container-sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.systemicons-container-sliders-volume,
.systemicons-container-sliders-brightness {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px;
}

.systemicons-container-sliders-volume input,
.systemicons-container-sliders-brightness input {
    width: 80%;
    margin: 10px;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    outline: none;
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: linear-gradient(to right, #0652f7 0%, #0652f7 50%, #fff 50%, #fff 100%);
}

/* Chrome, Safari, and Edge */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 4px solid #0652f7;
    background: #0652f7;
    cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #0652f7;
    cursor: pointer;
}

/* Chrome, Safari, and Edge */
input[type="range"]::-webkit-slider-runnable-track {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #0652f7;

}


.systemicons-footer {
    width: 100%;
    transition: .2s background ease;
    padding: 15px;
    background: rgba(255, 255, 255, .527);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.systemicons-footer-batery {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 13px;
    justify-content: space-between;
}

.systemicons-footer-batery p {
    margin-left: 4px;
}

.systemicons-footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 20%;
}

.date-time {
    color: #000;
    margin: 10px;
    z-index: 1;
    position: fixed;
    z-index: 1;
    bottom: 50px;
    /* right: -500px; */
    right: 0;
    overflow-x: hidden;
    transition: all 0.5s ease-in;
    cursor: context-menu;
}

.date-time-header {
    width: 258px;
    border-radius: 8px 8px 0px 0px;
    font-size: 12px;
    background-color: rgb(227, 239, 255, .8);
    backdrop-filter: blur(20px);
    padding: 15px 10px;
    font-weight: 600;
}

.date-time-calendar {
    width: 258px;
    border-radius: 0px 0px 8px 8px;
    padding: 5px;
    background-color: rgb(240, 243, 250, .8);
    backdrop-filter: blur(20px);
}

.date-time-calendar-month {
    padding: 15px;
}

.date-time-calendar-month-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-time-calendar-month-container-date {
    flex: 1;
}

.date-time-calendar-month-container svg {
    margin-left: 5px;
}

.date-time-calendar-month-container svg:last-child {
    margin-right: 0;
}

.date-time-calendar-weekdays,
.date-time-calendar-days {
    width: 100%;
    display: flex;
}

.date-time-calendar-weekdays div,
.date-time-calendar-days div {
    font-size: 12px;
    width: calc(220px / 7);
    display: flex;
    justify-content: center;
    padding: 9px 3px;
    margin: 2px;
}

.date-time-calendar-weekdays {
    align-items: center;
}

.date-time-calendar-weekdays div {
    font-weight: bold;
}

.date-time-calendar-days {
    flex-wrap: wrap;
}

.date-time-calendar-days div {
    font-size: 12px;
    width: 12.6%;
    display: flex;
    justify-content: center;
    padding: 9px 3px;
    margin: 2px;
}

.date-time-calendar-days-prev-date,
.date-time-calendar-days-next-date {
    opacity: 0.5;
}

.date-time-calendar-days-today {
    background-color: rgb(0, 122, 255);
    border-radius: 50%;
    color: #fff;
}

/* Widgets */

.widgets {
    height: calc(100vh - 70px);
    background: rgba(255, 255, 255, .226);
    backdrop-filter: blur(20.5px);
    -webkit-backdrop-filter: blur(20.5px);
    border-radius: 6px;
    box-shadow: 0 2.8px 2.2px #00000005, 0 6.7px 5.3px #00000007, 0 12.5px 10px #00000009, 0 22.3px 17.9px #0000000b, 0 41.8px 33.4px #0000000d, 0 100px 80px #00000012;
    position: absolute;
    top: 10px;
    left: 10px;
    width: clamp(400px, 40%, 1000px);
    transition: .2s background ease;
    animation: .4s _slideIn_uz1ia_1;
    animation-timing-function: ease;
    animation-timing-function: cubic-bezier(.3, .5, 0, 1);
    padding: 10px 4%;
    display: flex;
    flex-direction: column;
}

.widgets-container-hour {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}

.widgets-container-img-user {
    position: absolute;
    top: 15px;
    right: 15px;
}

.widgets-container-img-user img {
    border-radius: 50%;
    width: 30px;
}

.widgets-container-search {
    background-color: #ffffff69 !important;
    border: none !important;
    margin-top: 10px;
}

.widgets-container-searchbar {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 5px #0000001a;
    border-bottom: 2px rgb(68, 137, 170) solid;
    padding-left: 17px;
    padding-right: 17px;
    transition: .2s all ease;
}

.widgets-container-searchbar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.widgets-container-searchbar-input {
    width: 100%;
    border: none;
    outline: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    padding-left: 5px;
    background-color: transparent;
}

.widgets-container-searchbar-input::placeholder {
    color: black;
}

.widgets-container-widtgets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.widgets-container-widtgets-widget {
    background: linear-gradient(126deg, rgba(255, 255, 255, 1) 0%, rgba(255, 242, 204, 1) 100%);
    /* width: 48%; */
    padding: 5px 10px 10px;
    border-radius: 6px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px #0003;
}

.widgets-container-widtgets-widget-infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.widgets-container-widtgets-widget-infobar-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    justify-content: center;
}

.widgets-container-widtgets-widget-infobar-title-icon {
    width: 20px;
}

.widgets-container-widtgets-widget-content {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.widgets-container-widtgets-widget-content-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.widgets-container-widtgets-widget-content-location span {
    margin-left: 5px;
}

.widgets-container-widtgets-widget-content-weather {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.widgets-container-widtgets-widget-content-weather-data,
.widgets-container-widtgets-widget-content-weather-data-icon,
.widgets-container-widtgets-widget-content-weather-data-degrees {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.widgets-container-widtgets-widget-content-weather-data-icon img {
    height: 40px;
}

.widgets-container-widtgets-widget-content-weather-data-degrees-temp {
    font-size: 30px;
    margin-left: 5px;
}

.widgets-container-widtgets-widget-content-weather-data-degrees-temp-units {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}


.widgets-container-widtgets-widget-content-weather-data-degrees-temp-units-unit {
    color: #afafaf;
    cursor: pointer;
}

.unit-active {
    color: #000;
}

.widgets-container-widtgets-widget-content-weather-humidity {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
}

.widgets-container-widtgets-widget-content-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.widgets-container-widtgets-widget-content-link-button {
    outline: none;
    border: none;
    padding: 5px;
    background: transparent;
    cursor: pointer;
    color: #0f63ff;
    font-size: 12px;
    margin-top: 5px;
}