<nav class="taskbar-background h-3rem w-screen bottom-0 z-3" style="position: fixed;">
    <div id="taskbar-container" class="flex align-items-center justify-content-between h-3rem">
        <div id="taskbar" class="m-auto flex h-full w-auto gap-2 align-items-center justify-content-center">
            <div id="start" class="transition-duration-200 align-content-center justify-content-center"
                style="aspect-ratio: 1; border-radius: 0.1rem; height: 85%; display: grid; border-top: 1px solid rgba(255, 255, 255, 0.0);">
                <img src="app/assets/icons/Start_Light.png" alt=""
                    style="aspect-ratio: 1;border-radius: 0.1em;height: var(--img-nav-height);">
            </div>
            <div id="search" class="transition-duration-200 align-content-center justify-content-center"
                style="aspect-ratio: 1; border-radius: 0.1rem; height: 85%; display: grid; border-top: 1px solid rgba(255, 255, 255, 0.0);">
                <img src="app/assets/icons/Search_Light.png" alt=""
                    style="aspect-ratio: 1;border-radius: 0.1em;height: var(--img-nav-height);">
            </div>
            <div id="widget" class="transition-duration-200 align-content-center justify-content-center"
                style="aspect-ratio: 1; border-radius: 0.1rem; height: 85%; display: grid; border-top: 1px solid rgba(255, 255, 255, 0.0);">
                <img src="app/assets/icons/Widgets.png" alt=""
                    style="aspect-ratio: 1;border-radius: 0.1em;height: var(--img-nav-height);">
            </div>
        </div>
        <div id="systemtray" class="gap-0 flex h-full w-auto align-items-center justify-content-center">
            <div id="systemicons" class="transition-duration-500 text-white"
                style="height: 80%;gap: 0.5em;padding: 0 0.5em;border-radius: 0.5em;margin-right: 0.5em;display: grid;grid-auto-flow: column;">
                <div id="red" class="m-auto align-content-center justify-content-center" style="display: grid;">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="wifi"
                        class="svg-inline--fa fa-wifi" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 640 512">
                        <path fill="currentColor"
                            d="M319.1 351.1c-35.35 0-64 28.66-64 64.01s28.66 64.01 64 64.01c35.34 0 64-28.66 64-64.01S355.3 351.1 319.1 351.1zM320 191.1c-70.25 0-137.9 25.6-190.5 72.03C116.3 275.7 115 295.9 126.7 309.2C138.5 322.4 158.7 323.7 171.9 312C212.8 275.9 265.4 256 320 256s107.3 19.88 148.1 56C474.2 317.4 481.8 320 489.3 320c8.844 0 17.66-3.656 24-10.81C525 295.9 523.8 275.7 510.5 264C457.9 217.6 390.3 191.1 320 191.1zM630.2 156.7C546.3 76.28 436.2 32 320 32S93.69 76.28 9.844 156.7c-12.75 12.25-13.16 32.5-.9375 45.25c12.22 12.78 32.47 13.12 45.25 .9375C125.1 133.1 220.4 96 320 96s193.1 37.97 265.8 106.9C592.1 208.8 600 211.8 608 211.8c8.406 0 16.81-3.281 23.09-9.844C643.3 189.2 642.9 168.1 630.2 156.7z">
                        </path>
                    </svg>
                </div>
                <div id="volume" class="m-auto align-content-center justify-content-center" style="display: grid;">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="volume-xmark"
                        class="svg-inline--fa fa-volume-xmark" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                            d="M301.2 34.85c-11.5-5.188-25.02-3.122-34.44 5.253L131.8 160H48c-26.51 0-48 21.49-48 47.1v95.1c0 26.51 21.49 47.1 48 47.1h83.84l134.9 119.9c5.984 5.312 13.58 8.094 21.26 8.094c4.438 0 8.972-.9375 13.17-2.844c11.5-5.156 18.82-16.56 18.82-29.16V64C319.1 51.41 312.7 40 301.2 34.85zM513.9 255.1l47.03-47.03c9.375-9.375 9.375-24.56 0-33.94s-24.56-9.375-33.94 0L480 222.1L432.1 175c-9.375-9.375-24.56-9.375-33.94 0s-9.375 24.56 0 33.94l47.03 47.03l-47.03 47.03c-9.375 9.375-9.375 24.56 0 33.94c9.373 9.373 24.56 9.381 33.94 0L480 289.9l47.03 47.03c9.373 9.373 24.56 9.381 33.94 0c9.375-9.375 9.375-24.56 0-33.94L513.9 255.1z">
                        </path>
                    </svg>
                </div>
                <div id="battery" class="m-auto align-content-center justify-content-center" style="display: grid;">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="battery-quarter"
                        class="svg-inline--fa fa-battery-quarter" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                            d="M192 192H96v128h96V192zM544 192V160c0-35.35-28.65-64-64-64H64C28.65 96 0 124.7 0 160v192c0 35.35 28.65 64 64 64h416c35.35 0 64-28.65 64-64v-32c17.67 0 32-14.33 32-32V224C576 206.3 561.7 192 544 192zM480 352H64V160h416V352z">
                        </path>
                    </svg>
                </div>
            </div>
            <div id="systemclock" class="text-gray-900 flex flex-column align-items-end justify-content-center" style="height: 80%;padding: 0 1em;margin-right: 0.5em;border-radius: 0.5em;font-size: 0.65em;">
                <div id="hour">12:19</div>
                <div id="date">23/04/2024</div>
            </div>
            <div id="actioncenter" class="text-gray-900 flex flex-column align-items-end justify-content-center" style="height: 80%;padding: 0 1em;margin-right: 0.5em;border-radius: 0.5em;font-size: 0.65em;">
                <div class="border-circle w-1rem h-1rem m-2 bg-primary font-bold flex align-items-center justify-content-center">0</div>
            </div>
        </div>
    </div>
</nav>

<section id="notification-section" class="notification-on">
    <div>coming soon...</div>
</section>

<div class="windows-tab z-2" style="display: grid;">
    <div class="tab-content">
        <div class="topnavbar-tab">
            <div class="nome-tab">Microsoft Store</div>
            <div class="top-left-menu-tab">
                <!-- meno -->
                <div>
                    <svg id="min-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus" class="svg-inline--fa fa-minus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"></path></svg>
                </div>
                <!-- quadrato -->
                <div>
                    <svg id="max-icon" aria-hidden="true" focusable="false" data-prefix="far" data-icon="square" class="svg-inline--fa fa-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M384 31.1H64c-35.35 0-64 28.65-64 63.1v320c0 35.35 28.65 64 64 64h320c35.35 0 64-28.65 64-64v-320C448 60.65 419.3 31.1 384 31.1zM400 416c0 8.822-7.178 16-16 16H64c-8.822 0-16-7.178-16-16V96c0-8.822 7.178-16 16-16h320c8.822 0 16 7.178 16 16V416z"></path></svg>
                </div>
                <!-- per -->
                <div>
                    <svg id="close-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path></svg>
                </div>
            </div>
        </div>
        <div class="coming-soon-tab">
            <span class="coming-soon-span" style="display: none;">
                coming soon...
            </span>
            
            <!-- <img id="tab-image" src="https://w11-clone.vercel.app/images/ms-store-icon.png" alt="" style="display: grid;"> -->
        </div>
    </div>
</div>